<%= h render(:partial => '/layouts/header_new_message.html.erb') -%>

<div id="new_message_popup">
  <%= h render(:partial => '/bit_coupons/bit_coupon.html.erb') -%>
  <%= h render(:partial => '/queued_messages/show_crypt.html.erb') -%>
</div>
