# <%= h render(:partial => '/layouts/header_new_message.html.erb') -%>

  <div class = "row">
    <div class="small-4 columns">
      <%= h render(:partial => '/bit_coupons/bit_coupon.html.erb') -%>
    </div>
    <div class="small-8  columns">
    <%= h render(:partial => '/queued_messages/show_crypt.html.erb') -%>
    </div>
  </div>
