<%= h render(:partial => '/layouts/header_new_message.html.erb') -%>

  <div class = "row">
    <div class="small-4 columns">
      <%= h render(:partial => '/messages/new_message_left_container.html.erb') -%>
    </div>
    <div class="small-7 columns" id="new_message_right_contiainer">
      <%= h render(:partial => '/queued_messages/show_crypt.html.erb') -%>
    </div>
  </div>
