<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bit Msg</title>
    <link rel="stylesheet" href="css/index.css" />
	  <script type="text/javascript" src="js/sjcl.js"></script>
	  <script type="text/javascript" src="js/form.js"></script>
	  <script type="text/javascript" src="js/example.js"></script>
	  <script type="text/javascript" src="js/application.js"></script>
	  <script src="/js/jquery-2.1.4.min.js"> </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
