<body onload="loaded()">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<form id="theForm" onsubmit="return false;">
  <div class="column" id="ckey">
    <!-- Password and pbkdf2 parameters -->
    <div class="box" id="ppassword">
      <h2>Password</h2>
      <div class="section">
        <label for="password">Password:</label>
        <input type="password" class="wide" name="password" id="password" autocomplete="off" tabindex="1"/>
        <p class="explanation">
          Choose a strong, random password.
        </p>
      </div>
    </div>

    <div class="box" id="pkey">
      <div class="section">
        <div>
          <label for="salt">Salt:</label>
          <a class="random floatright" href="javascript:randomize('salt',2,0)">random</a>
        </div>
        <input type="text" id="salt" class="wide hex" autocomplete="off" size="17" maxlength="35"/>
        <input type="checkbox" name="freshsalt" id="freshsalt" autocomplete="off" checked="checked"/>
        <label for="freshsalt">Use fresh random salt for each new password</label>
      </div>

      <div class="section" hidden>
        <label for="iter">Strengthen by a factor of:</label>
        <input type="text" name="iter" id="iter" value="1000" class="numeric" size="5" maxlength="5" autocomplete="off"/>
        <p class="explanation">
          Strengthening makes it slower to compute the key corresponding to your
          password.  This makes it take much longer for an attacker to guess it.
        </p>
      </div>

      <div class="section" hidden>
        Key size:
        <input type="radio" name="keysize" value="128" id="key128" checked="checked" autocomplete="off" onclick="extendKey(4)"/>
        <label for="key128">128</label>
        <input type="radio" name="keysize" value="192" id="key192" autocomplete="off" onclick="extendKey(6)"/>
        <label for="key192">192</label>
        <input type="radio" name="keysize" value="256" id="key256" autocomplete="off" onclick="extendKey(8)"/>
        <label for="key256">256</label>
        <p class="explanation">
          128 bits should be secure enough, but you can generate a longer
          key if you wish.
        </p>
      </div>

      <!-- cipher key -->
      <div class="section" hidden>
        <div>
          <label for="key">Key:</label>
          <!--
          <a class="random floatright" href="javascript:randomizeKey()">random</a>
          -->
        </div>
        <textarea id="key" name="key" class="hex" rows="2" autocomplete="off"></textarea>
      </div>

    </div>
  </div>

    <!-- mode controls -->
  <div class="column" id="cmode">
    <div class="box">
      <div class="section" hidden>
        Cipher mode:
        <input type="radio" name="mode" value="ccm" id="ccm" checked="checked" autocomplete="off"/>
        <label for="ccm"><acronym title="Counter mode with Cipher block chaining Message authentication code">CCM</acronym></label>
        <input type="radio" name="mode" value="ocb2" id="ocb2" autocomplete="off"/>
        <label for="ocb2"><acronym title="Offset CodeBook mode, version 2.0">OCB2</acronym></label>
      </div>

      <div class="section">
        <div>
          <label for="iv">Initialization vector:</label>
          <a class="random floatright" href="javascript:randomize('iv',4,0)">random</a>
        </div>
        <input type="text" name="iv" id="iv" class="wide hex" size="32" maxlength="35" autocomplete="off"/>
        <input type="checkbox" id="freshiv" autocomplete="off" checked="checked"/>
        <label for="freshiv">Choose a new random IV for every message.</label>
      </div>

      <div class="section" hidden>
        Authentication strength:
        <input type="radio" name="tag" value="64" id="tag64" autocomplete="off" checked="checked"/>
        <label for="tag64">64</label>
        <input type="radio" name="tag" value="96" id="tag96" autocomplete="off"/>
        <label for="tag96">96</label>
        <input type="radio" name="tag" value="128" id="tag128" autocomplete="off"/>
        <label for="tag128">128</label>
      </div>

      <div class="section" hidden>
        <input type="checkbox" name="json" id="json" autocomplete="off" checked="checked"/>
        <label for="json">Send the parameters and authenticated data along
          with the message.</label>
      </div>
    </div>
  </div>

  <div class="column" id="ctexts">
    <div id="pplaintext" class="box">
      <h2>Plaintext</h2>
      <div class="section">
        <label for="plaintext">Secret message:</label>
        <textarea id="plaintext" autocomplete="off" rows="5" tabindex="2"></textarea>
      </div>

      <div class="section" hidden>
        <label for="adata">Authenticated data:</label>
        <textarea id="adata" autocomplete="off" tabindex="3"></textarea>
      </div>
    </div>

    <div id="buttons">
      <input type='submit' id="encrypt" value='encrypt'>
      <input type='submit' id="decrypt" value='decrypt'>
    </div>

    <div id="pciphertext" class="box">
      <h2>Ciphertext</h2>
      <label for="ciphertext">Ciphertext:</label>
      <textarea id="ciphertext" autocomplete="off" rows="7" tabindex="5"></textarea>
    </div>
  </form>


<div id='output'>
  <!-- <form action='/message/send' method='post'> -->
    <input class='submit_to_server' type="submit" value="Submit to server">
  <!-- </form> -->
</div>


</body>
