<!-- <head>
  <link rel="stylesheet" type="text/css" href="example.css"/>
  <script type="text/javascript" src="../sjcl.js"></script>
  <script type="text/javascript" src="form.js"></script>
  <script type="text/javascript" src="example.js"></script>
</head> -->


<body onload="loaded()" id="crypt">

  <form id="theForm" onsubmit="return false;">

    <!-- <div id="use_encryption" class="button radius tiny">
      Use Encryption
    </div> -->

  <div class="column" id="ckey">
    <!-- Password and pbkdf2 parameters -->
    <div class="box" id="ppassword">
      <!-- <h4>Password</h4> -->
      <div class="section crypt">
        <h4>Step 1. Enter Password</h4>
        <!-- <label for="password">Password:</label> -->
        <input type="password" class="wide" name="password" id="password" autocomplete="off" tabindex="1" placeholder="Password"/>
      </div>
    </div>

    <div class="box" id="pkey">
      <!-- <h4>Key Derivation</h4> -->
      <div class="section" hidden>
        <div>
          <label for="salt">Salt:</label>
          <a class="random floatright" href="javascript:randomize('salt',2,0)">random</a>
        </div>
        <input type="text" id="salt" class="wide hex" autocomplete="off" size="17" maxlength="35"/>
        <input type="checkbox" name="freshsalt" id="freshsalt" autocomplete="off" checked="checked"/>
        <label for="freshsalt">Use fresh random salt for each new password</label>
      </div>

      <div class="section" hidden>
        <label for="iter">Strengthen by a factor of:</label>
        <input type="text" name="iter" id="iter" value="1000" class="numeric" size="5" maxlength="5" autocomplete="off"/>
      </div>

      <div class="section" hidden>
        Key size:
        <input type="radio" name="keysize" value="128" id="key128" checked="checked" autocomplete="off" onclick="extendKey(4)"/>
        <label for="key128">128</label>
        <input type="radio" name="keysize" value="192" id="key192" autocomplete="off" onclick="extendKey(6)"/>
        <label for="key192">192</label>
        <input type="radio" name="keysize" value="256" id="key256" autocomplete="off" onclick="extendKey(8)"/>
        <label for="key256">256</label>
      </div>

      <!-- cipher key -->
      <div class="section" hidden>
        <div>
          <label for="key">Key:</label>
          <!--
          <a class="random floatright" href="javascript:randomizeKey()">random</a>
          -->
        </div>
        <textarea id="key" name="key" class="hex" rows="2" autocomplete="off"></textarea>
        <p class="explanation">
          This key is computed from your password, salt and strengthening factor.  It
          will be used internally by the cipher.  Instead of using a password, you can
          enter a key here directly.  If you do, it should be 32, 48 or 64 hexadecimal
          digits (128, 192 or 256 bits).
        </p>
      </div>

    </div>
  </div>

    <!-- mode controls -->
  <div class="column" id="cmode">
    <div class="box">
      <div class="section" hidden>
        Cipher mode:
        <input type="radio" name="mode" value="ccm" id="ccm" checked="checked" autocomplete="off"/>
        <label for="ccm"><acronym title="Counter mode with Cipher block chaining Message authentication code">CCM</acronym></label>
        <input type="radio" name="mode" value="ocb2" id="ocb2" autocomplete="off"/>
        <label for="ocb2"><acronym title="Offset CodeBook mode, version 2.0">OCB2</acronym></label>
      </div>

      <div class="section" hidden>
        <div>
          <label for="iv">Initialization vector:</label>
          <a class="random floatright" href="javascript:randomize('iv',4,0)">random</a>
        </div>
        <input type="text" name="iv" id="iv" class="wide hex" size="32" maxlength="35" autocomplete="off"/>
        <input type="checkbox" id="freshiv" autocomplete="off" checked="checked"/>
        <label for="freshiv">Choose a new random IV for every message.</label>
      </div>

      <div class="section" hidden>
        Authentication strength:
        <input type="radio" name="tag" value="64" id="tag64" autocomplete="off" checked="checked"/>
        <label for="tag64">64</label>
        <input type="radio" name="tag" value="96" id="tag96" autocomplete="off"/>
        <label for="tag96">96</label>
        <input type="radio" name="tag" value="128" id="tag128" autocomplete="off"/>
        <label for="tag128">128</label>
        <p class="explanation">
          SJCL adds a an authentication tag to your message to make sure
          nobody changes it.  The longer the authentication tag, the harder it is
          for somebody to change your encrypted message without you noticing.  64
          bits is probably enough.
        </p>
      </div>

      <div class="section" hidden>
        <input type="checkbox" name="json" id="json" autocomplete="off" />
        <label for="json">Send the parameters and authenticated data along
          with the message.</label>
      </div>
    </div>
  </div>

  <div class="column" id="ctexts">
    <div id="pplaintext" class="box">

      <div class="section crypt">
        <h4>Step 2. Enter Plaintext</h4>
        <!-- <label for="plaintext">Plaintext</label> -->
        <textarea id="plaintext" autocomplete="off" rows="5" tabindex="2" placeholder="Type Message Here"></textarea>
      </div>

      <div class="section" hidden>
        <label for="adata">Authenticated data:</label>
        <textarea id="adata" autocomplete="off" tabindex="3"></textarea>
        <div class="explanation">
          This auxilliary message isn't secret, but its integrity will be checked
          along with the integrity of the message.
        </div>
      </div>
    </div>

    <div id="buttons" class="crypt" hidden>

      <a href="javascript:doEncrypt()" id="encrypt" tabindex="4"><span class="button radius tiny turnDown section crypt crypt_button front_button">encrypt</span></a>
      <a href="javascript:doDecrypt()" id="decrypt" tabindex="6"><span class="button radius tiny turnUp section crypt crypt_button front_button">decrypt</span></a>
          <h4 >Step 3. Encrypt </h4>
    </div>

    <div id="pciphertext" class="box">
      <h4>Submission Text</h4>
      <!-- <label for="ciphertext">Ciphertext:</label> -->
      <textarea id="ciphertext" autocomplete="off" rows="7" tabindex="5" placeholder="Message to post on blockchain"></textarea>
    </div>
  </form>


</body>
