/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*General*/
h4 {
  margin-top: 2px;
  margin-bottom: 2px;
}
/*Message Result Page*/
.search_message_container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  width: 93%;
  border: 3px solid white;

}
.search_message_container:hover {
  border: 3px solid black;
}
.result{
  float: left;
  word-wrap: break-word;
  margin-right: 30px;

}

.search_message_raw {
  width: 500px;
  /*margin-right: 30px;*/
}

.search_message_decoded {
  width: 500px;
  border: solid black 1px;
  margin-left: -15px;
  padding-left: 15px;
  padding-bottom: 7px;
  padding-top: 7px;
}
.search_message_tx_hash {
  width: 500px;
}

.search_message_block_hash {
  width: 500px;
}

.search_message_block_height {
  width: 100px;
}

.search_message_date {
  width: 200px;
  /*padding-right: 10px;*/
  /*padding-left: 10px;*/
}

.technical_details {
  display: none;
}

.toggle_technical_details {
  width: 90%;
  height: 20px;
}


/*Message Details*/
#message_details {
  display: none;
  border: 2px solid white;
  position: fixed;
  margin: 0px auto;
  top: 10%;
  left: 5%;
  z-index: 11;
  background-color: rgb(68,67,73);
  width: 90%;
  height: 80%;
}

.popup {
  float: left;
  padding: 30px;
}

/*Coupons*/
.bit_coupon {
  float: left;
  padding: 20px;
  height: 500px;
  width: 500px;
  border: solid black 2px;
}


/*Crypt Message*/
#crypt {
  float:left
}
