<div class="sticky">

    <div id="front_nav_container">
      <div id="new_message_button_container">
        <%=link_to 'NEW MESSAGE', new_message_messages_path, id: "new_message_button", class: "medium button radius" %>

      </div>
    </div>
      <div class="row" id="spacer_row">
    </div>

</div>
